################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/EnglishNowDemo/.vs
/EnglishNowDemo/EnglishNowDemo.Web/EnglishNowDemo.Web.csproj.user
/EnglishNowDemo/EnglishNowDemo.Web/bin
/EnglishNowDemo/EnglishNowDemo.Web/obj
/EnglishNowDemo/EnglishNowDemo.Repositories/bin
/EnglishNowDemo/EnglishNowDemo.Repositories/obj
/EnglishNowDemo/EnglishNowDemo.Services/bin
/EnglishNowDemo/EnglishNowDemo.Services/obj
