@using EnglishNowDemo.Web.ViewModels.Menu
@{
    ViewData["Title"] = "Home Page";

    ViewData["Menu"] = Menu.Home;
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Esse é o sistema da escola <b>EnglishNow</b>.</p>
</div>
